
dataset:
  _target_: datasets.load_dataset
  path: "json"
  data_files:
    train: "./data/MATH/train.json"
    test: "./data/MATH/test.json"

prompt_key: problem
target_key: solution

default_prompt: "Answer the following math problem. \
  Always present the final answer on the last line of your response in a latex box format: $\\boxed{<answer>}$."

extract_answer_from_dataset: src.task.math.ExtractAnswerFromDataset

task_name: MATH

reward_class: 
  _target_: src.task.gsm8k.MATHReward
  LOG_FILE: ${training_args.output_dir}/completions.json

# reward_function: src.task.math.CorrectnessReward
format_reward_function: src.task.math.FormatRewardFunction