# @package _global_

defaults:
  - _self_
  - task: ???
  - model: ???
  - callbacks: default
  - trainer: GRPO
  - dataset_wrapper: default
  - experiment: qwen_gsm8k

log_dir: ${oc.env:PROJECT_ROOT}/logs

generate_prompt: src.utils.return_generate_prompt

wandb_config:
  name: ${model.model_name}
  project: progressive_rl_on_${task.task_name}
  dir: ${log_dir}/${task.task_name}-${model.model_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
  notes: null

hydra:
  run:
    dir: ${log_dir}/${task.task_name}-${model.model_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
  sweep:
    dir: ${log_dir}/${task.task_name}-${model.model_name}/${now:%Y-%m-%d}_${now:%H-%M-%S}
    subdir: ${hydra.job.num}
